body {
  background: linear-gradient(to right, rgb(220, 223, 61) 20%, rgb(5, 102, 29) 80%);
    margin: 0 auto;
    width: 1000px;
    border: 2px solid #000000;
    height: auto;
  }
  h1{ text-align: center;
background-color:  white;
margin: auto ;
margin-left: 25%;
margin-right: 25%;
}
  img {
  display: block;
 margin-left: auto;
 margin-right: auto;
  background-color: white;
}
div.box {
  background-color: white;
  margin: auto;
  width: 1000px;
  border: 2px solid #000000;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}
h2{ text-align: center;
    border: 2px solid #76f55c;
  background-color: hsl(91, 84%, 64%);
  margin: auto;}
  p {
    text-align: justify;
    background-color: white;
    margin: auto;
    width: 1000px;
  }
  h3{ border: 2px solid #60f85b;
    
  background-color: hsl(91, 84%, 64%);
}
  p  {
  font-size: 20px;
}nav { text-align: center;
background-color: rgb(104, 212, 104);
}
a { text-align: center;
margin: 10px 80px; 
color: black;
text-decoration: none;
  font-size: 22px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin:  20px 10px;
  display: grid 20px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

a:hover {
  background-color: rgb(102, 218, 56);
  color: rgb(238, 255, 0);
}
table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #60f85b;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    footer{ text-align: center;
    }
figcaption{ 
  text-align: center;
  background-color: white;
}

.tr {
  background-color: white;
}